html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #efefef;
}

header {
  background-color: #ddd;
}

.box {
  background-color: #fff;
}

.logo {
  max-width: 200px;
}

table {
  min-width: 40em;
}
