html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #efefef;
}

header {
  background-color: #ddd;
}

.searchbar {
  background-image: url(../images/search.svg);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 4px center;
}

.box {
  background-color: #fff;
}

.logo {
  max-width: 200px;
}

table {
  min-width: 45em;
}

@media only screen and (min-width: 38em) {

  .search-large {
    padding-top: 1.3rem;
  }

}
